/* ----------   Home - "A propos" section   ------------ */

.reverse .text-with-image {
    flex-direction: row-reverse;
}

.section--text-with-image .text-with-image {
        display: flex;
        align-items: stretch;
    }

.section--text-with-image .text-with-image > * {
            flex: 1;
        }

.section--text-with-image .text-with-image .section-image {
            position: relative;
        }

.section--text-with-image .text-with-image .section-image img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -o-object-fit: cover;
                   object-fit: cover;
                -o-object-position: center 30%;
                   object-position: center 30%;
                width: 100%;
                height: 100%;
            }

.section--text-with-image .text-with-image .section-image .video-thumbnail {
                margin: 0;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                /* Permet de faire grandir le ratio 16x9 si besoin pour que la vidéo fasse toute la hauteur de la section */
            }

.section--text-with-image .text-with-image .section-image .video-thumbnail:after {
                    display: table;
                    content: '';
                    clear: both;
                }

.section--text-with-image .text-with-image .section-image .video-thumbnail iframe {
                    border-radius: 0;
                }

.section--text-with-image .text-with-image .text-container {
            position: relative;
            z-index: 1;
            width: 40%;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.section--text-with-image .text-with-image div.text {
            width: 680px;
            max-width: 100%;
            margin: auto;
            padding: 4em 2em;
        }

.section--text-with-image .text-with-image div.text .subheading {
                color: var(--blue);
            }

@media (max-width: 960px) {
        .section--text-with-image .text-with-image {
            flex-direction: column;
        }

            .section--text-with-image .text-with-image .section-image {
                aspect-ratio: 16/9;
                width: 100%;
            }

            .section--text-with-image .text-with-image .text-container {
                width: auto;
                margin-left: var(--gutter);
                margin-right: var(--gutter);
                padding-bottom: 2.4em;
            }

            .section--text-with-image .text-with-image .text {
                padding: 2em 0 0;
            }

            .section--text-with-image .text-with-image .video-thumbnail:after {
                display: none;
            }
}
