.section-photos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-top: 32px;

    img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        object-fit: cover;
        transition: .1s;
        box-shadow: var(--accent) 0 0 0 0;
    }
    a:hover img{
        box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var(--accent);
        box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px rgb(from var(--accent) r g b / 0.5);
    }
}

@media (max-width: 920px){
    .section-photos{
        gap: 5px;
    }
    .section-photos img{
        width: 90px;
        height: 90px;
        border-radius: 6px;
    }
}
@media (max-width: 540px){
    .section-photos img{
        width: 80px;
        height: 80px;
    }
}