.section--banner-text{
    .banner{
        width: 100%;
        aspect-ratio: 3/1;
        max-height: 35vh;
        margin-bottom: 48px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .title-bloc{
        margin-bottom: 48px;
    }
}

@media (max-width: 600px){
    .section--banner-text .banner{ aspect-ratio: 2; }
}
