.section--text-with-video {
    position: relative;

    .wavy-background {
        background: var(--gradient-section);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 30%;
        background-size: 100% 100%;
        clip-path: url('#wavy-background-clip-path');
    }

    .text-with-video {
        display: flex;
        flex-direction: row-reverse;
        gap: 48px;
        align-items: center;
    }

    .text-container {
        position: relative;
        z-index: 1;
        width: 40%;
        max-width: 100%;
    }

    .text {
        max-width: 680px;
        margin: auto;

        &,
        p {
            font-size: var(--sm-fs);
        }
    }

    .video-container {
        width: 60%;
    }

    .max-width-large {
        max-width: 90%;
    }
}


@media (max-width: 1160px) {
    .section--text-with-video {
        .max-width-large {
            max-width: 100%;
        }
    }
}

@media (max-width: 700px) {
    .section--text-with-video {
        padding-top: 0;
        padding-bottom: 32px;

        .text-with-video {
            flex-direction: column;
            gap: 16px;
        }

        .wavy-background {
            clip-path: none;
            right: 0;
        }

        .max-width-large {
            margin: 0;
        }

        .video-container {
            width: calc(100% + 2 * var(--gutter));
            margin: 0 calc(-1 * var(--gutter));

            iframe {
                border-radius: 0;
            }
        }

        .video-thumbnail {
            margin-top: 0;
        }

        .video-thumbnail img {
            border-radius: 0;
        }

        .text-container {
            width: 100%;
        }
    }
}